In [1]:
import pandas as pd

In [2]:
diabetes = pd.read_csv("dataset_diabetes\diabetic_data.csv")

In [4]:
#Here give some visualization of some random sample in the database
diabetes.sample(10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
93490,336114932,182564042,Asian,Female,[40-50),?,3,1,1,2,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
3424,21226698,1637793,AfricanAmerican,Male,[50-60),?,3,11,1,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
61358,171377520,61826454,Caucasian,Female,[70-80),?,2,13,1,3,...,No,Down,No,No,No,No,No,Ch,Yes,NO
44118,136113834,72855180,Caucasian,Male,[80-90),[50-75),1,1,7,4,...,No,No,No,No,No,No,No,No,No,>30
7527,35453826,18727542,Caucasian,Male,[70-80),?,3,1,1,4,...,No,Steady,No,No,No,No,No,No,Yes,NO
90543,297178766,41120514,Caucasian,Female,[70-80),?,1,1,7,4,...,No,No,No,No,No,No,No,No,Yes,>30
21948,76105614,4941567,Caucasian,Male,[80-90),?,6,1,17,10,...,No,No,No,No,No,No,No,Ch,Yes,>30
88044,282273990,101306601,Caucasian,Female,[60-70),?,3,3,1,4,...,No,No,No,No,No,No,No,Ch,Yes,>30
28174,92280582,56228130,Caucasian,Female,[40-50),?,2,1,1,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
38586,119959896,33715422,Caucasian,Female,[30-40),?,3,1,1,5,...,No,Steady,No,No,No,No,No,No,Yes,NO

In [5]:
diabetes.shape

(101766, 50)

In [6]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 24.5+ MB

In [12]:
diag_1 = diabetes["diag_1"]
admission = diabetes["payer_code"].unique()
admission

array(['?', 'MC', 'MD', 'HM', 'UN', 'BC', 'SP', 'CP', 'SI', 'DM', 'CM',
       'CH', 'PO', 'WC', 'OT', 'OG', 'MP', 'FR'], dtype=object)

### Problem

How to split the data, visualize it and modify it to actual train data.